# User-specific files
*.user


# Build results
[Dd]ebug/
[Rr]elease/
build/


# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code cache/options directory
#.vscode/


# Pico Pio project specific, auto generated
*.pio.h


# personal documentation
Documents/
Downloads/


# KiCad
VC5_schematic-backups/